@tailwind base;
@tailwind components;
@tailwind utilities;

.on_hover:hover{
    scale: 1.1;
    transform: rotate(12deg);
    transition: 0.2s ease-in-out;
}
@keyframes ping {
    75%, 100% {
        transform: translateY(-400PX);

        opacity: 0;
    }
}
.animate_ping {
    animation: ping 4s cubic-bezier(1, 1, 0.2, 1) infinite;transform: translateX(-300PX);
}

.slick-slide {
  margin: 0px 10px;
  overflow: hidden !important;
}
.slick-list {
  overflow: hidden !important;
  margin: 0px -10px;
}
.slide-ele  {
    display: flex !important;
    justify-content: center;
    align-items: center;
}